// Grid
$max-width: 968px;
$gutter: 15px;

// Colors
$mainViolet: #9679b4;
$darkViolet: #7961ab;
$mainBlue: #0089d0;
$text-color: #2f363c;

// Typography
$mainFont: Roboto, sans-serif;
$secondFont: CharterC, serif;
