/*------------------------------------------*/
/*  HEADER
/*------------------------------------------*/
.site-header {

  &__brand {
    padding: 14px 0;
    background-color: $mainBlue;

    .container {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  &__box {
    position: relative;
    margin-left: auto;
    color: #fff;

    & > * {
      vertical-align: middle;
      float: right;
    }

    .site-map {
      display: none;

      @media (min-width: 768px) {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        right: 0;
        top: 0;
      }
    }
  }

  &__navigation {
    background-color: $mainViolet;
    color: #fff;
    
    .container {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      height: 32px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -18px;
        width: 355px;
        height: 31px;
        background-image: url(../img/bgr-nav.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: auto;
      }
    }

    &-issue {
      display: inline-block;
      padding-top: 10px;
      font-weight: 700;
      font-size: 0.625rem;
      z-index: 1;
    }
  }

  &__menu-icon {
    width: 32px;
    height: 18px;
    position: absolute;
    z-index: 1000;
    top: 8px;
    right: 15px;
    cursor: pointer;

    @media (min-width: 768px) {
      right: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 2px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 32px;
      height: 2px;
      background-color: #FFF;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 32px;
      height: 2px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @media (min-width: 950px) {
      display: none;
    }
  }

  &__menu-icon--close-x {
    top: 12px;

    &::before {
      transform: rotate(45deg) translateY(-4px);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) translateY(5px);
    }
  }
}