/*------------------------------------------*/
/*  FONTS
/*------------------------------------------*/
@font-face {
  font-family: 'CharterC';
  src: url('../fonts/CharterC.woff2') format('woff2'),
      url('../fonts/CharterC.woff') format('woff'),
      url('../fonts/CharterC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharterC';
  src: url('../fonts/CharterC-Bold.woff2') format('woff2'),
      url('../fonts/CharterC-Bold.woff') format('woff'),
      url('../fonts/CharterC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
       url('../fonts/Roboto-Medium.woff') format('woff'),
       url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
