// -----------------------------------------------------------------------------
// HELPERS
// -----------------------------------------------------------------------------

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;
 }

/**
 * Hide text while making it readable for screen readers
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.is-hidden {
  display: none;
}

.t-ac {
  text-align: center;
}

.ma {
  margin-left: auto;
  margin-right: auto;
}