/*------------------------------------------*/
/*  BASIC TYPOGRAPHY STYLES
/*------------------------------------------*/
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $mainFont;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
  color: $text-color;
}
